*{
    background-color:blury(10px);
}
img{
    display: flex;
    z-index: -1;
    position :absolute;
    top: 0;
    left :0;
    width:100%;
    height:100%;

}
.box{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
    border-radius: 30PX;
    border:2px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    width: fit-content;
    height:fit-content;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);

}
input{
    background-color: rgb(240, 225, 225);
    justify-content: center;
    align-items: center;
    display:block;
    margin:10px;
    padding:10px;
    border-radius:30px;
    width: 250px;
    backdrop-filter: blur(10px);
}
button{
        justify-content: center;
    align-items: center;
    display:block;
    margin:10px;
    padding:10px;
    border-radius:30px;
    width: 150px;
    cursor: pointer;
    transition:0.3s;
    
}
button:hover{
    background-color: rgb(39, 127, 228);
}