
h1{
    text-align: center;
    margin-top: 100px;
}
img{
    display: flex;
    z-index: -1;
    position :absolute;
    top: 0;
    left :0;
    width:100%;
    height:100%;

}

button{
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:10px;
    padding:10px;
    border-radius:30px;
    transition: 0.3s;
    cursor:pointer;
}
button:hover{
    background-color: rgb(202, 36, 36);
}